google-genai # Yeni model entegrasyonları için eklendi

streamlit
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai # Langchain'in Gemini entegrasyonu (tireli hali)
chromadb
python-dotenv
kagglehub # Veri çekme için



pandas
numpy
unidecode